body
{
  font-family: cursive;
  font-size: large;
  background-image: url(../image/PR\ DBD.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  color: white

}
h1
{
  text-align:center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:rgba(0, 0, 0, 0.322);
}

li {
  float: left
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: black;
}
