body
{
    background-image: url(../image/mappdbd.jpg);
  background-repeat: no-repeat;
  background-size:cover;
 
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:rgba(0, 0, 0, 0.322);
}

li {
  float: left
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: black;
}

a {
  display:inline-block;
  color: aliceblue;
  text-align: center;
}